html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $text;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.category__title {
  color: #7347c1;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 26px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/wp.png);
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
